{% extends "base.html" %}

{% block content %}
    <h3>Last updated at: {{ latest_updated_at }}</h3>
    <hr>
    <h2>Movies</h2>
    <ul>
        {% for movie in object_list %}
            <li>{{ movie.title }}</li>
            <li>
                <ul>
                    {% for charecter in movie.character_set.all %}
                        <li>{{ charecter.name }}</li>
                    {%  empty %}
                        <li>No characters available</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
